@media only screen and (max-width:1024px) {
    .hederDIv {
        width: 80%;
    }

    .navmenFDist {
        display: none;
    }

    .icalsFirst {
        display: block;
    }

    .imageDivANd-Logo {
        margin-left: 100px;
    }





    .imageDedamiwa {
        width: 100%;
    }

    .mainFirst-BIGDiv {
        max-width: 80%;
        flex-direction: column-reverse;
    }

    .marcXena-Bloki {
        align-items: center;
        max-width: 100%;
        text-align: center;
    }

    .trevelTop {
        font-size: 56px;
        font-weight: 700;
        line-height: 67.2px;
        width: 65%;

    }

    .waalwais {
        text-align: center;
        align-items: center;
        width: 100%;
    }



    .meoreSectionDiv {
        max-width: 80%;
    }

    .mamodZraevbeliN1 {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-wrap: wrap;
        gap: 32px;
        margin-top: 64px;
    }

    .somlbloCkDIv {
        flex-direction: column;
    }

    .gapppDiv {
        text-align: center;
        justify-content: center;
    }

    .iageiSarDIV {
        margin-top: 50px;
    }




    .imageZgva {
        max-width: 90%;
    }

    .tevziimG {
        max-width: 90%;
    }

    .mtta {
        max-width: 90%;
    }

    .TevzebisMatvariDIvi {

        width: 100%;
    }

    .asas {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tTasStrings {
        width: 80%;
    }

    .tevzisTeqsti {
        flex-direction: column-reverse;
        width: 100%;
        gap: 8px;
    }

    .motivation {
        width: 70%;
    }

    .fristblockA {
        gap: 8px;
        flex-direction: column-reverse;
    }

    .tTasStrings {
        flex-direction: column-reverse;
    }

    .paradisea {
        width: 70%;
        
    }

    .mosawesRigebeliDivi{
        margin-top: 100px;
    }






    .meotxeSeqciis-mowesrigeba {
        flex-direction: column;
        gap: 0px;
    }

    .right-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 64px;
    }

    .Contaryy {
        text-align: center;
        width: 70%;
    }

    .Xut500 {
        padding: 80px;
        width: 100%;

    }

    .MEotxeBIG-SecTion {
        width: 100%;
    }



    .Stringsdiv {
        align-items: center;
    }

    .weoffer {
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;

    }

    .contaynery {
        width: 70%;
        text-align: center;
    }

    .momawrsrigebeliN5 {
        margin-top: 70px;
    }


    .contynaryy{
        width: 90%;
    }
    .iconesDiv{
        margin-top: 32px;
    }




    .fofoterDivWesrig{
        flex-direction: column;
        gap: 64px;
    }
    .footer-Rigtconteiner{
        justify-content: space-between;
    }
    .Rstret{
        width: 100%;
    }
}

@media only screen and (max-width:744px) {
    @import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Ga+Maamli&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');

    .hederBOLODiv {
        display: none;
    }



    .trevelTop {
        width: 100%;
    }

    .TevzebisMatvariDIvi {
        align-items: center;
        flex-direction: column;
    }
    .TevzebisMatvariDIvi p,h2{
        font-family: "sofia", serif;
        font-weight: 400;
        font-style: normal;
      
}

    .imageZgva {
        max-width: 100%;
    }

    .tevziimG {
        max-width: 100%;
    }

    .mtta {
        max-width: 100%;
    }




    .wehalping {
        text-align: center;
        width: 100%;
    }

    .Xut500 {
        padding: 50px;
        width: 100%;

    }

}

@media only screen and (max-width:430px) {
    .hederBOLODiv {
        display: none;
    }

    .icalsFirst {
        order: 3;
    }

    .imageDivANd-Logo {
        margin: 0;
    }

    .marcXena-Bloki {
        margin-top: 32px;
    }







    .meoreSectionDiv {
        margin-top: 10px;
    }

    .trevelTop {
        width: 100%;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;

    }

    .waalwais {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        text-align: center;

    }
    .somlbloCkDIv{
        margin-top: 107px;
    }

    .starTEdDIv {
        flex-direction: column;
        gap: 24px;
    }

    .Getstarted {
        width: 200%;
    }

    .mamodZraevbeliN1 {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        gap: 2px;

    }

    .trawizp {
        font-size: 15px;
    }

    .buuu {
        width: 25px
    }

    .wxpedia {
        width: 100px;
    }

    .bookinG {
        font-size: 15px;
    }

    .samkutxa {
        width: 100px;
    }

    .abitz {
        width: 100px;

    }



    .exploreTop {
        width: 100%;
        font-family: Circular Std;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        text-align: center;

    }

    .topdestInation {
        font-family: Circular Std;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        text-align: center;

    }

    .mosawesRigebeliDivi {
        gap: 20px;
        margin-top: 17px;
    }

    .iageiSarDIV {
        gap: 160px;
    }


    .oCemawith {
        width: 100%;
    }

    .paradisea {
        width: 100%;
    }
 
    .motivation {
        width: 100%;
    }

    .imageZgva {
        max-width: 100%;
    }

    .tevziimG {
        max-width: 100%;
    }

    .mtta {
        max-width: 100%;
    }



    .wehalping {
        font-family: Circular Std;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        text-align: center;

    }

    .Contaryy {
        width: 80%;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        text-align: center;

    }

    .otxiBliki {
        width: 100%;
        gap: 16px;
    }

    .oriBLokiDIv {
        gap: 16px;
        flex-direction: column;
    }

    .Xut500 {
        gap: 0px;
    }

    .TwuBlocks-Divfle {
        gap: 16px;
        flex-direction: column;
    }

    .MEotxeBIG-SecTion {
        margin-top: 32px;
    }


    .weoffer {
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        text-align: center;

    }

    .keyfaturs {
        font-family: Circular Std;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        text-align: center;

    }

    .contaynery {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        text-align: center;

    }

    .momawrsrigebeliN5 {
        margin-top: 70px;
    }

    .firstFotosDIv {
        flex-direction: column;
    
    }

    .imagesStrings {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;

    }

    .lorema {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        width: 72%;

    }
    .secondFotosDiv{
        flex-direction: column;

    }
    .imagseStrinSgN2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px; 

    }
    .itHAz{
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        width: 72%; 
    }
    .meotxerFOtosDiv{
        flex-direction: column;
    }
.imagestringN3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px; 
}
.loereisNt{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    width: 72%;
}


.contynaryy{
    font-family: Circular Std;
font-size: 16px;
font-weight: 450;
line-height: 25.6px;
text-align: left;
width: 80%;
}





.gappN3{
    display: none;
}
.gapN2{
    display: none;
}
.gapN1{
    display: none;
}
.footer-Rigtconteiner{
    gap: 64px;
    flex-direction: column;
}

}

@media only screen and (max-width:320px) {
    .hederDIv {
        width: 80%;
    }


    .mamodZraevbeliN1 {
        flex-direction: column;
    }

    .meoreSectionDiv {
        margin-top: 15px;
    }

    .iageiSarDIV {
        gap: 10px;
    }

    .somlbloCkDIv {
        padding-top: 20px;
    }

    .pirveliTevzi {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fristblockA {
        text-align: center;
        align-items: center;
    }

    .tevzisTeqsti {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .malidves {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .otXiXuti {

        margin-left: 90px;

        text-align: center;
        align-items: center;
    }

    .tTasStrings {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .untedarab {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .xutt {
        margin-left: 60px;
    }



    .oriBLokiDIv {
        gap: 6px;
    }

    .Xut500 {
        gap: 0px;
    }

    .TwuBlocks-Divfle {
        gap: 6px;
    }



    .weoffer {
        margin-top: 10px;
    }

    .contaynery {
        margin-top: 10px;
    }

    .momawrsrigebeliN5 {
        margin-top: 70px;
    }

    .iconesDiv{
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    
.contynaryy{
    font-family: Circular Std;
font-size: 14px;
font-weight: 450;
line-height: 25.6px;
text-align: left;
width: 100%;
}
}