@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Ga+Maamli&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Ga+Maamli&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');
.hederDIv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1184px;
    width: 80%;
    height: 113px;
    margin: 0 auto;
}

.fristIMages {
    width: 40px;
    height: 40px;
}

.TravelLOg {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    color: rgba(25, 24, 37, 1);
}

.imageDivANd-Logo {
    display: flex;
    gap: 16px;
}

.homenavMen {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: rgba(34, 40, 49, 1);
}

.NavmenAtegs {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-align: left;
    color: rgb(89, 90, 90);
}

.navmenFDist {
    display: flex;
    width: 428px;
    justify-content: space-between;
}

.logInIn {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-align: left;
    color: rgba(34, 40, 49, 1);
}

.sinUpDIv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 115px;
    height: 49px;
    gap: 8px;
    border-radius: 100px;
    background-color: rgba(93, 80, 198, 1);
}

.sigUO {
    font-family: Circular Std;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-align: left;
    color: rgba(238, 238, 238, 1);
}

.hederBOLODiv {
    display: flex;
    align-items: center;
    gap: 32px;
}

.fa-solid {
    width: 39.98px;
    color: rgba(93, 80, 198, 1);
}

.icalsFirst {
    display: none;
}

/* aqedan iwyeba mian */

.mainFirst-BIGDiv {
    display: flex;
    max-width: 1184px;
    max-width: 80%;
    margin: auto;
}

.trevelTop {
    width: 350px;
    font-family: "Oswald", sans-serif;
    font-size: 69px;
    font-weight: 700;
    line-height: 82.8px;
}

.marcXena-Bloki {
    display: flex;
    flex-direction: column;
    gap: 43px;
    max-width: 412px;
    margin-top: 64px;
}

.sapnTegg {
    color: rgba(248, 94, 159, 1);
}

.waalwais {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: rgba(25, 24, 37, 0.5);
    width: 300px;
}

.Getstarted {
    width: 141px;
    font-family: Circular Std;
    font-size: 14px;
    font-weight: 700;
    color: rgba(238, 238, 238, 1);
    padding: 16px 32px 16px 32px;
    gap: 8px;
    border-radius: 100px;
    background-color: rgba(93, 80, 198, 1);

}

.imagesMOl {
    width: 20px;
    height: 20px;
}

.watChDemo {
    font-family: Circular Std;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
}

.starTEdDIv {
    display: flex;
    align-items: center;
    gap: 16px;

}

.imageGap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.imageDedamiwa {
    max-width: 772px;
    max-width: 100%;
}

.marjvena-bloki {
    margin-top: 160px;
}

.meoreSectionDiv {
    max-width: 1184px;
    max-width: 80%;
    margin: auto;


}

.abitz {
    width: 168.08px;
}

.trawizp {
    color: rgb(25, 24, 37, 0.5);
    font-size: 25px;
    font-family: "Noto Sans", sans-serif;

}

.buuu {
    width: 42.35px;
}

.busDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bookinG {
    font-size: 25px;
    color: rgb(25, 24, 37, 0.5);
    font-family: "Noto Sans", sans-serif;
}

.mamodZraevbeliN1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 160px;
}

.samkutxa {
    width: 100px;
}

.DidiSeqciaN3 {
    max-width: 1184px;
    max-width: 90%;
    margin: auto;
}

.mosawesRigebeliDivi {
    margin-top: 37px;
}

.topdestInation {
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    color: rgba(248, 94, 159, 1);

}

.exploreTop {
    font-family: Circular Std;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    color: rgba(25, 24, 37, 1);
}

.gapppDiv {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.isarimarcxen {
    width: 24px;
    margin-bottom: 70px;
}

.isariwreshi {
    width: 100px;
}

.iageiSarDIV {
    display: flex;
    align-items: center;
    margin-top: 100px;
    gap: 32px;


}

.somlbloCkDIv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.fristblockA {
    display: flex;
    margin-top: 32px;
}

.paradisea {
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    color: rgba(25, 24, 37, 1);
    width: 228px;
}

.fiftfive {
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    color: rgba(248, 94, 159, 1);
}


.romeitali {
    color: rgb(100, 99, 99);
    justify-content: center;
    margin-top: 16px;
}

.otxiRva {
    display: block;
    margin-top: 32px;



}

.imageZgva {
    display: block;
    max-width: 373px;
    max-width: 100%;

}

.tevziimG {
    display: block;
    max-width: 373px;
    max-width: 100%;

}

.mtta {
    display: block;
    width: 100%;


}

.tevzisTeqsti {
    display: flex;
    gap: 38px;
    margin-top: 32px;
}

.oCemawith {
    width: 185px;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    color: black;

}

.tveni {
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    color: rgba(248, 94, 159, 1);
}

.malidves {
    color: rgb(116, 114, 112);
    margin-top: 16px;
}

.otXiXuti {
    width: 66px;
    margin-top: 32px;
}

.TevzebisMatvariDIvi {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.TevzebisMatvariDIvi p,h2{
    font-family: "Calistoga", serif;

}


.tTasStrings {
    display: flex;
    margin-top: 32px;
}

.motivation {
    width: 200px;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;

}

.handvridfifiti {
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    color: rgba(248, 94, 159, 1);
}

.untedarab {
    margin-top: 16px;
    color: rgb(116, 116, 113);

}

.xutt {
    width: 66px;
    margin-top: 32px;
}

.MEotxeBIG-SecTion {
    max-width: 1312px;
    margin-top: 64px;
}

.meotxeSeqciis-mowesrigeba {
    display: flex;
    gap: 20px;
}

.qaliimG {
    width: 871px;
    width: 100%;
}

.right-block {
    width: 441px;
}

.TwuBlocks-Divfle {
    display: flex;
    gap: 32px;
}

.travepalob {
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    color: rgba(248, 94, 159, 1);

}

.wehalping {
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    color: rgba(25, 24, 37, 1);
    margin-top: 16px;

}

.Contaryy {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgba(25, 24, 37, 0.5);
    margin-top: 32px;

}

.otxiBliki {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 64px;

}

.TuHAnadvrid {
    font-family: Circular Std;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    color: rgba(255, 87, 34, 1);

}

.Hokidey {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgba(25, 24, 37, 1);

}

.Xut500 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 204px;
    width: 100%;
    border: solid 1px;
    height: 151px;
    gap: 16px;
    border-radius: 32px;
    border-color: rgb(168, 168, 162);

}

.oriBLokiDIv {
    display: flex;
    gap: 32px;
}

.mexUTebigSection {
    max-width: 1312px;
    max-width: 95%;
    margin: auto;

}

.momawrsrigebeliN5 {
    margin-top: 137px;
}

.keyfaturs {
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    color: rgba(248, 94, 159, 1);
}

.weoffer {
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    color: rgba(25, 24, 37, 1);
    margin-top: 16px;

}

.contaynery {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: rgba(25, 24, 37, 0.5);
    width: 60%;
    margin-top: 32px;

}

.Stringsdiv {
    display: flex;
    flex-direction: column;
}

.imageLogoN1 {
    width: 100px;
    height: 100px;



}

.wearBest {
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    color: rgba(25, 24, 37, 1);

}

.lorema {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: rgba(25, 24, 37, 0.5);
}

.kalendariamge {
    width: 100px;
    height: 100px;

}

.schedyule {
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    color: rgba(25, 24, 37, 1);
}

.itHAz {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: rgba(25, 24, 37, 0.5);

}

.foftbalIMg {
    width: 100px;
    height: 100px;
}

.GetDisorde {
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    color: rgba(25, 24, 37, 1);
}

.loereisNt {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: rgba(25, 24, 37, 0.5);

}

.meotxerFOtosDiv {
    display: flex;
    align-items: center;
    gap: 32px;
}

.secondFotosDiv {
    display: flex;
    align-items: center;
    gap: 32px;
}

.firstFotosDIv {
    display: flex;
    align-items: center;
    gap: 32px;
}

.marges-conteners {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 64px;
}

.fofterDiv {
    width: 1184px;
    width: 90%;
    /* background-color: blueviolet; */
    margin: auto;


}

.fofoterDivWesrig {
    display: flex;
    margin-top: 163px;
}

.trevelN2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    text-align: left;

}

.logossdiv {
    display: flex;
    gap: 16px;
}

.contynaryy {
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 450;
    line-height: 36.8px;
    color: rgba(25, 24, 37, 0.5);
    width: 70%;
    margin-top: 32px;
}

.logoumG {
    width: 40px;
    height: 40px;
}

.iconesCals {
    width: 32px;
    height: 32px;

}

.iconesDiv {
    display: flex;
    gap: 32px;
    margin-top: 64px;
}
#companya{
font-family: Circular Std;
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
text-align: left;
color: rgba(25, 24, 37, 1);

}
.onliCases{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
color: rgba(25, 24, 37, 0.75);

}
.gaqraaa{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
#comatctyy{
font-family: Circular Std;
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
text-align: left;
color: rgba(25, 24, 37, 1);

}
.bigONliSrings{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
color: rgba(25, 24, 37, 0.75);

}
.footer-Rigtconteiner{
    display: flex;
    gap: 32px;
}
#meeTyou{
font-family: Circular Std;
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
text-align: left;
color: rgba(25, 24, 37, 1);

}
.gappN3{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.ciferbi{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
color: rgba(25, 24, 37, 0.75);
width: 80%;

}
.imfoo{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
color: rgba(25, 24, 37, 0.75);

}
.Rstret{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
color: rgba(25, 24, 37, 0.75);
width: 90%;
}
.Byyas{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
color: rgba(25, 24, 37, 0.75);
}
.gaqraN3{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.gapN2{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.gapN1{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
